[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
pur = "*"
django = "*"
firebase-admin = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.6"
